<div class="container mt-5">
    <h2>Player List</h2>
    <button class="btn btn-primary mb-3" (click)="navigateToAddPlayer()">Add Player</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player ID</th>
          <th>Name</th>
          <th>Jersey Number</th>
          <th>Role</th>
            <!-- NEWLY ADDED -->
            <th>Total Matches</th>
            <th>Team Name</th>
          <th>Actions</th>
         

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{ player.playerId }}</td>
          <td>{{ player.playerName }}</td>
          <td>{{ player.jerseyNumber }}</td>
          <td>{{ player.role }}</td>
         <!-- NEWLY ADDED -->
          <td>{{ player.totalMatches }}</td>
          <td>{{ player.teamName }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="navigateToEditPlayer(player.playerId)">Edit</button>
            <button class="btn btn-danger btn-sm ms-4" (click)="deletePlayer(player.playerId)">Delete</button>
          </td>                              
        </tr>
      </tbody>
    </table>
  </div>
  


  